<!-- <button mat-icon-button (click)="update()">
    <mat-icon>refresh</mat-icon>
</button> -->
<div class="wrapper">
    <mat-form-field>
        <mat-label>
            Age 
        </mat-label>
        <input [(ngModel)]="localSummary.age" matInput appearance="filled" (keyup.enter)="setSummary()"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            Height
        </mat-label>
        <input matInput [(ngModel)]="localSummary.height" appearance="filled" (keyup.enter)="setSummary()"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            Weight
        </mat-label>
        <input matInput [(ngModel)]="localSummary.weight" appearance="filled" (keyup.enter)="setSummary()"/>
    </mat-form-field>
      
    <mat-form-field>
        <mat-label>
            Eyes
        </mat-label>
        <input [(ngModel)]="localSummary.eyes" matInput appearance="filled" (keyup.enter)="setSummary()">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>
            Hair
        </mat-label>
        <input [(ngModel)]="localSummary.hair" matInput appearance="filled" (keyup.enter)="setSummary()"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            Skin
        </mat-label>
        <input [(ngModel)]="localSummary.skin" matInput appearance="filled" (keyup.enter)="setSummary()"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            Race
        </mat-label>
        <input [(ngModel)]="localSummary.race" matInput appearance="filled" (keyup.enter)="setSummary()"/>
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            Class
        </mat-label>
        <input matInput [(ngModel)]="this.character.class" appearance="filled" (keyup.enter)="setSummary()"/>
    </mat-form-field>
<br>
    <mat-form-field>
        <mat-label>
            Alignment
        </mat-label>
        <input matInput [(ngModel)]="localSummary.alignment" appearance="filled" (keyup.enter)="setSummary()">
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            Background
        </mat-label>
        <input matInput [(ngModel)]="localSummary.background" appearance="filled" (keyup.enter)="setSummary()">
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            XP
        </mat-label>
        <input matInput [matAutocomplete]="auto" [(ngModel)]="this.xp" appearance="filled">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setSummary()">
            <mat-option *ngFor="let level of levels" [value]="level.xp">
                Level {{level.level}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            Level
        </mat-label>
        <input matInput [(ngModel)]="this.level" appearance="filled" (keyup.enter)="setSummary()">
    </mat-form-field>

    <mat-form-field>
        <mat-label>
            Proficiency Bonus
        </mat-label>
        <input matInput [(ngModel)]="this.profBonus" appearance="filled" (keyup.enter)="setSummary()">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>
            Speed
        </mat-label>
        <input matInput [(ngModel)]="localSummary.speed" appearance="filled" (keyup.enter)="setSummary()">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>
            Initiative
        </mat-label>
        <input matInput [(ngModel)]="this.character.initiative" appearance="filled" (keyup.enter)="setSummary()">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>
            AC
        </mat-label>
        <input matInput [(ngModel)]="this.character.ac" appearance="filled" (keyup.enter)="setSummary()">
    </mat-form-field>
</div>