<div *ngFor="let track of tracklist">

    <div *ngIf="track.type === 'number'">
        <a (click)="openTrackDialog(track.name, track.description, track.type, track.max, track.current)">
            <label>{{track.name}}</label>
        </a>
        <button mat-icon-button color="warn" (click)="subtractCurrent(track)">
            <mat-icon>horizontal_rule</mat-icon>
        </button>
        <label>
            ({{track.current}}/{{track.max}})
        </label>
        <button mat-icon-button class="plus" color="primary" (click)="addCurrent(track)">
            <mat-icon>add</mat-icon>
        </button>
        <hr>
    </div>
    
    <div *ngIf="track.type === 'checkboxes'">
        <a (click)="openTrackDialog(track.name, track.description, track.type, track.max, track.current)">
            <label>{{track.name}}</label>    
        </a>
        
        <button mat-icon-button color="warn" (click)="subtractCurrent(track)">
            <mat-icon>horizontal_rule</mat-icon>
        </button>
        <span *ngFor="let item of makeArray(track.max); let i = index">
            <mat-checkbox class="checkbox" disabled color="primary" [checked]="i < track.current"></mat-checkbox>
        </span>
        <button mat-icon-button class="plus" color="primary" (click)="addCurrent(track)">
            <mat-icon>add</mat-icon>
        </button>
        <hr>
    </div>

</div>
<button mat-icon-button (click)="openNewTrackDialog()">
    <mat-icon color="black">add</mat-icon>
</button>
