<h1 mat-dialog-title>NOTE</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput  [(ngModel)]="data.title" value="data.title" appearance="filled">
    <mat-label><strong>Name</strong></mat-label>
  </mat-form-field>
    <br>
  <mat-form-field>
    <input matInput   [(ngModel)]="data.description" value="data.description" appearance="filled">
    <mat-label><strong>Description</strong></mat-label>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">CANCEL</button>
  <button mat-button (click)="saveNote(data.title, data.description)">DONE</button>
</div>