<div>
    <div *ngIf="this.character.highestLevelSpell >= 0">
        <label>Cantrips</label>
        <hr>
    </div>
    <div *ngFor="let spell of this.character.spellList">
        <div *ngIf="spell.level === 0">
            <p>
                <mat-checkbox (change)="this.character.updateHighestLevelSpell()" [checked]="spell.prepared" [(ngModel)]="spell.prepared"></mat-checkbox>
                <a (click)="openSpellDialog(spell.name, spell.summary, spell.description, spell.level, spell.prepared, spell.school, spell.srdUrl)">
                    <mat-label [ngClass]="{'prepared': spell.prepared}">{{spell.name}}</mat-label> - {{spell.summary}}
                </a>
            </p>
        </div>
    </div>

    <div *ngIf="this.character.highestLevelSpell >= 1">
        <label>1st Level</label>
        <hr>
    </div>
    <div *ngFor="let spell of this.character.spellList">
        <div *ngIf="spell.level === 1">
            <p>
                <mat-checkbox (change)="this.character.updateHighestLevelSpell()" [checked]="spell.prepared" [(ngModel)]="spell.prepared"></mat-checkbox>
                <a
                    (click)="openSpellDialog(spell.name, spell.summary, spell.description, spell.level, spell.prepared, spell.school, spell.srdUrl)">
                    <mat-label [ngClass]="{'prepared': spell.prepared}">{{spell.name}}</mat-label> - {{spell.summary}}
                </a>
            </p>
        </div>
    </div>

    <div *ngIf="this.character.highestLevelSpell >= 2">
        <label>2nd Level</label>
        <hr>
    </div>
    <div *ngFor="let spell of this.character.spellList">
        <div *ngIf="spell.level === 2">
            <p>
                <mat-checkbox (change)="this.character.updateHighestLevelSpell()" [checked]="spell.prepared" [(ngModel)]="spell.prepared"></mat-checkbox>
                <a
                    (click)="openSpellDialog(spell.name, spell.summary, spell.description, spell.level, spell.prepared, spell.school, spell.srdUrl)">
                    <mat-label [ngClass]="{'prepared': spell.prepared}">{{spell.name}}</mat-label> - {{spell.summary}}
                </a>
            </p>
        </div>
    </div>

    <div *ngIf="this.character.highestLevelSpell >= 3">
        <label>3rd Level</label>
        <hr>
    </div>
    <div *ngFor="let spell of this.character.spellList">
        <div *ngIf="spell.level === 3">
            <p>
                <mat-checkbox (change)="this.character.updateHighestLevelSpell()" [checked]="spell.prepared" [(ngModel)]="spell.prepared"></mat-checkbox>
                <a
                    (click)="openSpellDialog(spell.name, spell.summary, spell.description, spell.level, spell.prepared, spell.school, spell.srdUrl)">
                    <mat-label [ngClass]="{'prepared': spell.prepared}">{{spell.name}}</mat-label> - {{spell.summary}}
                </a>
            </p>
        </div>
    </div>

    <div *ngIf="this.character.highestLevelSpell >= 4">
        <label>4th Level</label>
        <hr>
    </div>
    <div *ngFor="let spell of this.character.spellList">
        <div *ngIf="spell.level === 4">
            <p>
                <mat-checkbox (change)="this.character.updateHighestLevelSpell()" [checked]="spell.prepared" [(ngModel)]="spell.prepared"></mat-checkbox>
                <a
                    (click)="openSpellDialog(spell.name, spell.summary, spell.description, spell.level, spell.prepared, spell.school, spell.srdUrl)">
                    <mat-label [ngClass]="{'prepared': spell.prepared}">{{spell.name}}</mat-label> - {{spell.summary}}
                </a>
            </p>
        </div>
    </div>

    <div *ngIf="this.character.highestLevelSpell >= 5">
        <label>5th Level</label>
        <hr>
    </div>
    <div *ngFor="let spell of this.character.spellList">
        <div *ngIf="spell.level === 5">
            <p>
                <mat-checkbox (change)="this.character.updateHighestLevelSpell()" [checked]="spell.prepared" [(ngModel)]="spell.prepared"></mat-checkbox>
                <a
                    (click)="openSpellDialog(spell.name, spell.summary, spell.description, spell.level, spell.prepared, spell.school, spell.srdUrl)">
                    <mat-label [ngClass]="{'prepared': spell.prepared}">{{spell.name}}</mat-label> - {{spell.summary}}
                </a>
            </p>
        </div>
    </div>

    <div *ngIf="this.character.highestLevelSpell >= 6">
        <label>6th Level</label>
        <hr>
    </div>
    <div *ngFor="let spell of this.character.spellList">
        <div *ngIf="spell.level === 6">
            <p>
                <mat-checkbox (change)="this.character.updateHighestLevelSpell()" [checked]="spell.prepared" [(ngModel)]="spell.prepared"></mat-checkbox>
                <a
                    (click)="openSpellDialog(spell.name, spell.summary, spell.description, spell.level, spell.prepared, spell.school, spell.srdUrl)">
                    <mat-label [ngClass]="{'prepared': spell.prepared}">{{spell.name}}</mat-label> - {{spell.summary}}
                </a>
            </p>
        </div>
    </div>

    <div *ngIf="this.character.highestLevelSpell >= 7">
        <label>7th Level</label>
        <hr>
    </div>
    <div *ngFor="let spell of this.character.spellList">
        <div *ngIf="spell.level === 7">
            <p>
                <mat-checkbox (change)="this.character.updateHighestLevelSpell()" [checked]="spell.prepared" [(ngModel)]="spell.prepared"></mat-checkbox>
                <a
                    (click)="openSpellDialog(spell.name, spell.summary, spell.description, spell.level, spell.prepared, spell.school, spell.srdUrl)">
                    <mat-label [ngClass]="{'prepared': spell.prepared}">{{spell.name}}</mat-label> - {{spell.summary}}
                </a>
            </p>
        </div>
    </div>

    <div *ngIf="this.character.highestLevelSpell >= 8">
        <label>8th Level</label>
        <hr>
    </div>
    <div *ngFor="let spell of this.character.spellList">
        <div *ngIf="spell.level === 8">
            <p>
                <mat-checkbox (change)="this.character.updateHighestLevelSpell()" [checked]="spell.prepared" [(ngModel)]="spell.prepared"></mat-checkbox>
                <a
                    (click)="openSpellDialog(spell.name, spell.summary, spell.description, spell.level, spell.prepared, spell.school, spell.srdUrl)">
                    <mat-label [ngClass]="{'prepared': spell.prepared}">{{spell.name}}</mat-label> - {{spell.summary}}
                </a>
            </p>
        </div>
    </div>

    <div *ngIf="this.character.highestLevelSpell >= 9">
        <label>9th Level</label>
        <hr>
    </div>
    <div *ngFor="let spell of this.character.spellList">
        <div *ngIf="spell.level === 9">
            <p>
                <mat-checkbox (change)="this.character.updateHighestLevelSpell()" [checked]="spell.prepared" [(ngModel)]="spell.prepared"></mat-checkbox>
                <a
                    (click)="openSpellDialog(spell.name, spell.summary, spell.description, spell.level, spell.prepared, spell.school, spell.srdUrl)">
                    <mat-label [ngClass]="{'prepared': spell.prepared}">{{spell.name}}</mat-label> - {{spell.summary}}
                </a>
            </p>
        </div>
    </div>

    <div *ngIf="this.character.highestLevelSpell >= 10">
        <label>Experimental</label>
        <hr>
    </div>
    <div *ngFor="let spell of this.character.spellList">
        <div *ngIf="spell.level >= 10">
            <p>
                <mat-checkbox (change)="this.character.updateHighestLevelSpell()" [checked]="spell.prepared" [(ngModel)]="spell.prepared"></mat-checkbox>
                <a
                    (click)="openSpellDialog(spell.name, spell.summary, spell.description, spell.level, spell.prepared, spell.school, spell.srdUrl)">
                    <mat-label [ngClass]="{'prepared': spell.prepared}">{{spell.name}}</mat-label> - {{spell.summary}}
                </a>
            </p>
        </div>
    </div> 
</div>

<button mat-icon-button (click)="openNewSpellDialog()">
    <mat-icon color="black">add</mat-icon>
</button>
