.number {
  color: #3f51b5;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.3rem;
}

.abSelect {
  width: 50%;
}

mat-label {
  size: 1.3rem;
  font-size: 1rem;
}

mat-select {
  margin: 2px;
  font-size: 1.3rem;
}

mat-form-field {
  width: 100%;
}

.languages {
  height: 100px;
}

textarea {
  height: 200px;
  font-size: 1.2rem;
}
