<div class="grid-container">
    <span>
        <mat-checkbox [checked]="charismaProf" (change)="this.changeProf('charismaSave', this.charismaProf)"></mat-checkbox>
        <mat-form-field appearance="simple">
            <input matInput [(ngModel)]="this.charisma" (input)="setAbilityScores()">
        </mat-form-field>
        Charisma |
        Mod <label class="number">{{charismaMod}}</label> |
        Save <label class="number">{{charismaSave}}</label>
    </span>
    <br>
    <span>
        <mat-checkbox [checked]="constitutionProf" (change)="this.changeProf('constitutionSave', this.constitutionProf)"></mat-checkbox>
        <mat-form-field appearance="simple">
            <input matInput [(ngModel)]="this.constitution" (input)="setAbilityScores()">
        </mat-form-field>
        Constitution |
        Mod <label class="number">{{constitutionMod}}</label> |
        Save <label class="number">{{constitutionSave}}</label>
    </span>
    <br>
    <span>
        <mat-checkbox [checked]="dexterityProf" (change)="this.changeProf('dexteritySave', this.dexterityProf)"></mat-checkbox>
        <mat-form-field appearance="simple">
            <input matInput [(ngModel)]="this.dexterity" (input)="setAbilityScores()">
        </mat-form-field>
        Dexterity |
        Mod <label class="number">{{dexterityMod}}</label> |
        Save <label class="number">{{dexteritySave}}</label>
    </span>
    <br>
    <span>
        <mat-checkbox [checked]="intelligenceProf" (change)="this.changeProf('intelligenceSave', this.intelligenceProf)"></mat-checkbox>
        <mat-form-field appearance="simple">
            <input matInput [(ngModel)]="this.intelligence" (input)="setAbilityScores()">
        </mat-form-field>
        Intelligence |
        Mod <label class="number">{{intelligenceMod}}</label> |
        Save <label class="number">{{intelligenceSave}}</label>
    </span>
    <br>
    <span>
        <mat-checkbox [checked]="strengthProf" (change)="this.changeProf('strengthSave', this.strengthProf)"></mat-checkbox>
        <mat-form-field appearance="simple">
            <input matInput [(ngModel)]="this.strength" (input)="setAbilityScores()">
        </mat-form-field>
        Strength |
        Mod <label class="number">{{strengthMod}}</label> |
        Save <label class="number">{{strengthSave}}</label>
    </span>
    <br>
    <span>
        <mat-checkbox [checked]="wisdomProf" (change)="this.changeProf('wisdomSave', this.wisdomProf)"></mat-checkbox>
        <mat-form-field appearance="simple">
            <input matInput [(ngModel)]="this.wisdom" (input)="setAbilityScores()">
        </mat-form-field>
        Wisdom |
        Mod <label class="number">{{wisdomMod}}</label> |
        Save <label class="number">{{wisdomSave}}</label>
    </span>
    <br>
    <div>
         
    </div>
</div>
