@import "~@angular/material/theming";
@include mat-core();

.legend {
  margin-right: 10px;
}

mat-checkbox {
  margin-right: 20px;
}

mat-form-field {
  max-width: 32px;
  font-size: 1.8rem;
  max-height: 20px;
}

div {
  font-size: 1.8rem;
}

.number {
  color: blue;
}
