
<div class="header">Total Weight: {{totalWeight}} lb</div>
<button mat-icon-button (click)="updateWeight()">
    <mat-icon>refresh</mat-icon>
</button>
<br>
<div class="header">Currency
    <div class = "item">

            <strong (click)="openCurrencyDialog('Copper')">Copper</strong> x{{moneyPouch.copperAmount}}        
            <br>
            <strong (click)="openCurrencyDialog('Silver')">Silver</strong> x{{moneyPouch.silverAmount}} 
            <br> 
            <strong (click)="openCurrencyDialog('Gold')">Gold</strong> x{{moneyPouch.goldAmount}}
            <br> 
            <strong (click)="openCurrencyDialog('Platinum')">Platinum</strong> x{{moneyPouch.platinumAmount}}  
    </div>
<br>
</div>
<div class="header">Weapon
    <div class = "item" *ngFor="let equipment of equipmentList">

        <div *ngIf="equipment.equipType == 'Weapon'"><strong (click)="openEquipmentDialog(equipment)">{{equipment.name}}</strong> x{{equipment.quantity}}</div>

    </div>
</div>
<br>
<div class="header">Armor
    <div class = "item" *ngFor="let equipment of equipmentList">
        
        <div *ngIf="equipment.equipType == 'Armor'"><strong (click)="openEquipmentDialog(equipment)">{{equipment.name}}</strong> x{{equipment.quantity}}</div>

    </div>
</div>
<br>
<div class="header">Gear
    <div class = "item" *ngFor="let equipment of equipmentList">
        
        <div *ngIf="equipment.equipType == 'Gear'"><strong (click)="openEquipmentDialog(equipment)">{{equipment.name}}</strong> x{{equipment.quantity}}</div>

    </div>
</div>
<br>
<div class="header">Tool
    <div class = "item" *ngFor="let equipment of equipmentList">
        
        <div *ngIf="equipment.equipType == 'Tool'"><strong (click)="openEquipmentDialog(equipment)">{{equipment.name}}</strong> x{{equipment.quantity}}</div>

    </div>
</div>

<button mat-icon-button (click)="openNewEquipmentDialog()">
    <mat-icon color="black">add</mat-icon>
</button>
