
<div class="header">Total Weight: {{totalWeight}} lb</div>
<br>
<div class="header">Currency
    <div class = "item">

            <strong >Copper</strong> x{{moneyPouch.copperAmount}}        
            <br>
            <strong >Silver</strong> x{{moneyPouch.silverAmount}} 
            <br> 
            <strong >Gold</strong> x{{moneyPouch.goldAmount}}
            <br> 
            <strong >Platinum</strong> x{{moneyPouch.platinumAmount}}  
    </div>
<br>
</div>
<div class="header">Weapon
    <div class = "item" *ngFor="let equipment of equipmentList">

        <div *ngIf="equipment.equipType == 'Weapon'"></div><strong (click)="openEquipmentDialog(equipment)">{{equipment.name}}</strong> x{{equipment.quantity}}

    </div>
</div>
<br>
<div class="header">Armor
    <div class = "item" *ngFor="let equipment of equipmentList">
        
        <div *ngIf="equipment.equipType == 'Armor'"><strong (click)="openEquipmentDialog(equipment)">{{equipment.name}}</strong> x{{equipment.quantity}}

    </div>
</div>
<br>
<div class="header">Gear
    <div class = "item" *ngFor="let equipment of equipmentList">
        
        <div *ngIf="equipment.equipType == 'Gear'"><strong (click)="openEquipmentDialog(equipment)">{{equipment.name}}</strong> x{{equipment.quantity}}

    </div>
</div>
<br>
<div class="header">Tool
    <div class = "item" *ngFor="let equipment of equipmentList">
        
        <div *ngIf="equipment.equipType == 'Tool'"><strong (click)="openEquipmentDialog(equipment)">{{equipment.name}}</strong> x{{equipment.quantity}}

    </div>
</div>