<header>
    <!-- Row 0 -->
    <div fxLayout="column" fxLayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutAlign="start">
        <span>
            <h1>
                {{this.character.name}}, Level {{this.character.level}} {{this.character.class}}
            </h1>
            <div class="router-button" >
                <button mat-raised-button routerLink="/dashboard">Dashboard</button>
            </div>
            <div class="router-button" >
                <button mat-raised-button (click)="syncData()">Sync</button>
            </div>
        </span>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutGap="50px" fxLayoutAlign="center">

            <!-- Health -->
            <div fxLayout="column">
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header class="small-header">
                        <mat-panel-title>
                            Health
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-health></app-health>
                </mat-expansion-panel>
            </div>

            <!-- Hit Dice -->
            <div fxLayout="column">
                <mat-expansion-panel class="hit-dice" [expanded]="true">
                    <mat-expansion-panel-header class="small-header">
                        <mat-panel-title>
                            Hit Dice
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-hit-dice></app-hit-dice>
                </mat-expansion-panel>
            </div>

            <!-- Death Saves -->
            <div fxLayout="column">
                <mat-expansion-panel class="death-saves" [expanded]="true">
                    <mat-expansion-panel-header class="small-header">
                        <mat-panel-title>
                            Death Saves
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <app-death-saves></app-death-saves>
                </mat-expansion-panel>
            </div>
        </div>
    </div>

    <!-- Summary -->
    <div fxLayout="row" fxLayoutGap="32px" fxLayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutAlign="center">
        <mat-expansion-panel class="summary" [expanded]="true">
            <mat-expansion-panel-header class="small-header">
                <mat-panel-title>
                    Summary
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-summary></app-summary>
        </mat-expansion-panel>
    </div>
</header>


<div class="wrapper" fxLayout="row" fxLayoutGap="32px" fxLayout.lt-sm="column" fxLayout.lt-md="column"
    fxLayoutAlign="center start">
    <!-- Column 1 -->
    <div fxLayout="column" fxLayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutAlign="flex-start">

        <!-- Trackables -->
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Trackables
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-trackables></app-trackables>
            </mat-expansion-panel>
        </div>

        <!-- Ability Scores -->
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Ability Scores
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-ability-score></app-ability-score>
            </mat-expansion-panel>
        </div>

        <!-- Defenses -->
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Defenses
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-defenses></app-defenses>
            </mat-expansion-panel>
        </div>

        <!-- Equipment -->
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Equipment
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-equipment></app-equipment>
            </mat-expansion-panel>
        </div>

        <!-- Notes -->
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Notes
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-notes></app-notes>
            </mat-expansion-panel>
        </div>
    </div>

    <!-- Column 2 -->
    <div fxLayout="column" fxLayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutAlign="flex-start">

        <!-- Actions -->
        <div fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-sm="100%">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Actions
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-actions name="Unarmed Strike" description="bludgeoning">
                </app-actions>
            </mat-expansion-panel>
        </div>

        <!-- Spells -->
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Spells | Prepared: <label class="prep"> {{this.character.preppedSpells}}</label>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-spells></app-spells>
            </mat-expansion-panel>
        </div>

        <!-- Abilities -->
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Abilities
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-abilities></app-abilities>
            </mat-expansion-panel>
        </div>

        <!-- Feats -->
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Feats
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-feats></app-feats>
            </mat-expansion-panel>
        </div>
    </div>

    <!-- Column 3 -->
    <div fxLayout="column" fxLayout.lt-sm="column" fxLayout.lt-md="column" fxLayoutAlign="flex-start">


        <!-- Skills -->
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Skills
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-skills></app-skills>
            </mat-expansion-panel>
        </div>

        <!-- Proficiency -->
        <div fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Proficiency
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <app-proficiency></app-proficiency>
            </mat-expansion-panel>
        </div>
    </div>
</div>