.wrapper {
  align-items: center;
}

.button {
  font-size: 1.3rem;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  font-size: 3rem;
  padding: 20px;
}

.text {
  font-size: 1.5rem;
  padding: 20px;
}
