<div class="wrapper">  

        <span class="grid-container">
            <button mat-icon-button color="primary" class="up-arrow" (click)="gainHD()">
                <mat-icon>arrow_circle_up</mat-icon>
            </button>
            <button mat-icon-button color="warn" class="down-arrow" (click)="loseHD()">
                <mat-icon>arrow_circle_down</mat-icon>
            </button>
        </span>
    <input matInput [(ngModel)]="localHealth.hitDiceCurrent" (keyup.enter)="updateHitDice()" class="hd-counter mainHealth" placeholder="localHealth.hitDiceCurrent" />
    <div class="label">
        <label>/ {{localHealth.hitDiceMax}} d{{localHealth.hitDiceType}}</label>
    </div>
</div>
<button mat-button color="primary" (click)="longRest()">
    <mat-label>Long Rest</mat-label>
</button>

<button mat-button color="accent" (click)="shortRest()">
    <mat-label>Short Rest</mat-label>
</button>