<div class="ActionType">Melee<br><br></div>
<div class=grid-container>
    <span class="leftElement">
        <strong>{{name}}</strong>
        <br>
        <small>{{description}}</small>
    </span>
    <span class="rightElement">
        <small>To Hit</small>
        <br>
        <strong>+7</strong>
    </span>
    <span class="rightElement">
        <small>To Damage</small>
        <br>
        <strong>1d6+2</strong>
    </span>
</div>
<br>

<div class="ActionType">Ranged<br><br></div>
    <div class=grid-container>
        <span class="leftElement">
            <strong>{{name}}</strong>
            <br>
            <small>{{description}}</small>
        </span>
        <span class="rightElement">
            <small>To Hit</small>
            <br>
            <strong>+7</strong>
        </span>
        <span class="rightElement">
            <small>To Damage</small>
            <br>
            <strong>1d6+2</strong>
        </span>
    </div>
<br>

<div class="ActionType">Magic Item<br><br></div>








