.grid-container{
    display: grid;
    grid-template-columns: 23vmax 7vmax 9vmax;
    grid-template-rows:auto auto;
    padding: 0px;
}

.leftElement{
    text-align: left;
    grid-row:1 /span 2;
}

.rightElement{
    text-align: center;

}

strong{
    text-indent: 500px;
    font-size: 18px;
    font-stretch: expanded;
    margin-left: 15px;
    color: black;
}

small{
    color: grey;
    font-size: 16px;
    margin-left: 15px;
    
}

.action-head{
    font-size: 20px;
    color: grey;
}

.hit-damage{
    font-size: 16px;
}

.desc{
    font-size: 14px;
}