.col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.subText{
    display:block;
}

.row{
    display: flex;
}
.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

tr>td{

}

.left{
    width:90%;
    text-align: left;
    padding:1px;
}

.right{
    width:100px;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 25vmax 2vmax 3vmax;
    grid-template-rows:auto auto;
    padding: 0px;
}

.item1{
    text-align: left;
    grid-row:1 /span 2;
}