<!-- <table>
    <tr>
        <td class="left">{{name}} <br><small>{{description}}</small></td>
        <td class="right">To Hit <br><strong>+7</strong></td>
        <td class="right">To Damage <br><strong>1d6+5</strong></td>

    </tr>
</table> -->

<div class=grid-container>
    <span class="item1">
        <strong>{{name}}</strong>
        <br>
        <small>{{description}}</small>
    </span>
    <span>
        <small>To Hit</small>
        <br>
        <strong>+7</strong>
    </span>
    <span>
        <small>To Damage</small>
        <br>
        <strong>1d6+2</strong>
    </span>



</div>









