<button mat-icon-button (click)="updateHeader()">
    <mat-icon>refresh</mat-icon>
</button>
<br>
<div class="action-head" *ngIf="hasMelee == true">Melee<br><br>
    <div *ngFor="let action of actionList">
        <div *ngIf="action.actionType == 'Melee'">
            <div class=grid-container>
                <span class="leftElement">
                    <strong (click)="openDialog(action.name,action.description,action.actionType,action.damage,action.damageType,action.toHit,action.abilityScore,action.hitMisc,action.damageMisc,action.fullToHit,action.fullDamage)">{{action.name}}</strong>
                    <br>
                    <small class="desc">{{action.description}}</small>
                </span>
                <span class="rightElement">
                    <small>To Hit</small>
                    <br>
                    <strong class="hit-damage">+{{action.toHit}}</strong>
                </span>
                <span class="rightElement">
                    <small>Damage</small>
                    <br>
                    <strong class="hit-damage">{{action.fullDamage}}</strong>
                </span>
            </div>
            <br>
        </div>
    </div>
    <br>
    <hr>
</div>
<div class="action-head" *ngIf="hasRange == true">Range<br><br>
    <div *ngFor="let action of actionList">
        <div *ngIf="action.actionType == 'Range'">
            <div class=grid-container>
                <span class="leftElement">
                    <strong (click)="openDialog(action.name,action.description,action.actionType,action.damage,action.damageType,action.toHit,action.abilityScore,action.hitMisc,action.damageMisc,action.fullToHit,action.fullDamage)">{{action.name}}</strong>
                    <br>
                    <small class="desc">{{action.description}}</small>
                </span>
                <span class="rightElement">
                    <small>To Hit</small>
                    <br>
                    <strong class="hit-damage">+{{action.toHit}}</strong>
                </span>
                <span class="rightElement">
                    <small>Damage</small>
                    <br>
                    <strong class="hit-damage">{{action.damage}}</strong>
                </span>
            </div>
            <br>
        </div>
    </div>
    <br>
    <hr>
</div>
<div class="action-head" *ngIf="hasPower == true">Power<br><br>
    <div *ngFor="let action of actionList">
        <div *ngIf="action.actionType == 'Power'">
            <div class=grid-container>
                <span class="leftElement">
                    <strong (click)="openDialog(action.name,action.description,action.actionType,action.damage,action.damageType,action.toHit,action.abilityScore,action.hitMisc,action.damageMisc,action.fullToHit,action.fullDamage)">{{action.name}}</strong>
                    <br>
                    <small class="desc">{{action.description}}</small>
                </span>
                <span class="rightElement">
                    <small>To Hit</small>
                    <br>
                    <strong class="hit-damage">+{{action.toHit}}</strong>
                </span>
                <span class="rightElement">
                    <small>Damage</small>
                    <br>
                    <strong class="hit-damage">{{action.damage}}</strong>
                </span>
            </div>
            <br>
        </div>
    </div>
    <br>
    <hr>
</div>
<div class="action-head" *ngIf="hasSpecial == true">Special<br><br>
    <div *ngFor="let action of actionList">
        <div *ngIf="action.actionType == 'Special'">
            <div class=grid-container>
                <span class="leftElement">
                    <strong (click)="openDialog(action.name,action.description,action.actionType,action.damage,action.damageType,action.toHit,action.abilityScore,action.hitMisc,action.damageMisc,action.fullToHit,action.fullDamage)">{{action.name}}</strong>
                    <br>
                    <small class="desc">{{action.description}}</small>
                </span>
                <span class="rightElement">
                    <small>To Hit</small>
                    <br>
                    <strong class="hit-damage">+{{action.toHit}}</strong>
                </span>
                <span class="rightElement">
                    <small>Damage</small>
                    <br>
                    <strong class="hit-damage">{{action.damage}}</strong>
                </span>
            </div>
            <br>
        </div>
    </div>
    <br>
    <hr>
</div>
<div class="action-head" *ngIf="hasPotion == true">Potion<br><br>
    <div *ngFor="let action of actionList">
        <div *ngIf="action.actionType == 'Potion'">
            <div class=grid-container>
                <span class="leftElement">
                    <strong (click)="openDialog(action.name,action.description,action.actionType,action.damage,action.damageType,action.toHit,action.abilityScore,action.hitMisc,action.damageMisc,action.fullToHit,action.fullDamage)">{{action.name}}</strong>
                    <br>
                    <small class="desc">{{action.description}}</small>
                </span>
                <span class="rightElement">
                    <small>To Hit</small>
                    <br>
                    <strong class="hit-damage">+{{action.toHit}}</strong>
                </span>
                <span class="rightElement">
                    <small>Damage</small>
                    <br>
                    <strong class="hit-damage">{{action.damage}}</strong>
                </span>
            </div>
            <br>
        </div>
    </div>
    <br>
    <hr>
</div>
<div class="action-head" *ngIf="hasMagic == true">Magic Item<br><br>
    <div *ngFor="let action of actionList">
        <div *ngIf="action.actionType == 'Magic Item'">
            <div class=grid-container>
                <span class="leftElement">
                    <strong (click)="openDialog(action.name,action.description,action.actionType,action.damage,action.damageType,action.toHit,action.abilityScore,action.hitMisc,action.damageMisc,action.fullToHit,action.fullDamage)">{{action.name}}</strong>
                    <br>
                    <small class="desc">{{action.description}}</small>
                </span>
                <span class="rightElement">
                    <small>To Hit</small>
                    <br>
                    <strong class="hit-damage">+{{action.toHit}}</strong>
                </span>
                <span class="rightElement">
                    <small>Damage</small>
                    <br>
                    <strong class="hit-damage">{{action.damage}}</strong>
                </span>
            </div>
            <br>
        </div>
    </div>
    <br>
    <hr>
</div>
<div class="action-head" *ngIf="hasSpell == true">Spell<br><br>
    <div *ngFor="let action of actionList">
        <div *ngIf="action.actionType == 'Spell'">
            <div class=grid-container>
                <span class="leftElement">
                    <strong (click)="openDialog(action.name,action.description,action.actionType,action.damage,action.damageType,action.toHit,action.abilityScore,action.hitMisc,action.damageMisc,action.fullToHit,action.fullDamage)">{{action.name}}</strong>
                    <br>
                    <small class="desc">{{action.description}}</small>
                </span>
                <span class="rightElement">
                    <small>To Hit</small>
                    <br>
                    <strong class="hit-damage">+{{action.toHit}}</strong>
                </span>
                <span class="rightElement">
                    <small>Damage</small>
                    <br>
                    <strong class="hit-damage">{{action.damage}}</strong>
                </span>
            </div>
            <br>
        </div>
    </div>
    <br>
    <hr>
</div>
<button mat-icon-button (click)="openNewActionDialog()">
    <mat-icon color="black">add</mat-icon>
</button>
