<h1 mat-dialog-title>TRACKABLE</h1>
<div mat-dialog-content>
    
    <mat-form-field class="select">
        <mat-label>Type</mat-label>
        <mat-select [(ngModel)]="selectedType" appearance="fill">
            <mat-option value="checkboxes">Checkboxes</mat-option>
            <mat-option value="number">Numbers</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field class="select">
        <mat-label>Maximum</mat-label>
        <input matInput [(ngModel)]="max" appearance="filled"/>
    </mat-form-field>
    
    <mat-form-field class="big">
        <input matInput [(ngModel)]="data.title" value="data.title" appearance="filled">
        <mat-label>Name</mat-label>
    </mat-form-field>
    <br>
    <mat-form-field class="big">
        <textarea matInput class="desc" [(ngModel)]="data.description" value="data.description" appearance="filled"></textarea>
        <mat-label>Description</mat-label>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cloneTrack()">CLONE</button>
    <button mat-button color="warn" (click)="deleteTrack()">DELETE</button>

    <button mat-button (click)="closeDialog()">CANCEL</button>
    <button mat-button color="primary" (click)="saveTrack()">DONE</button>
</div>
