<div>
    <strong>{{passiveInvestigation}} Passive Ingestigation <small>(Int)</small></strong>
    <br>
    <strong>{{passivePerception}} Passive Perception <small>(Wis)</small></strong>
    <br>
    <small>{{acrobatics}} Acrobatics (Dex)</small>
    <br>
    <small>{{acrobatics}} Acrobatics (Dex)</small>
    <br>
    <small>{{arcana}} Arcana (Int)</small>
    <br>
    <small>{{athletics}} Athletics (Str)</small>
    <br>
    <small>{{deception}} Deception (Cha)</small>
    <br>
    <small>{{history}} History (Int)</small>
    <br>
    <small>{{insight}} Insight (Wis)</small>
    <br>
    <small>{{intimidation}} Intimidation (Cha)</small>
    <br>
    <small>{{investigation}} Investigation (Int)</small>
    <br>
    <small>{{medicine}} Medicine (Wis)</small>
    <br>
    <small>{{nature}} Nature (Int)</small>
    <br>
    <small>{{perception}} Perception (Wis)</small>
    <br>
    <small>{{performance}} Performance (Cha)</small>
    <br>
    <small>{{religion}} Religion (Int)</small>
    <br>
    <small>{{sleightOfHand}} Sleight of Hand (Dex)</small>
    <br>
    <small>{{stealth}} Stealth (Dex)</small>
    <br>
    <small>{{survival}} Survival (Wis)</small>
</div>