<div 
    *ngIf="auth.user$ | async as user"
    div fxLayout="column" 
    fxLayoutAlign="start center"
    fxFill>

    <mat-label class="title">Welcome to the character dashboard {{ user.displayName }}!</mat-label>
    
    <div *ngFor="let character of this.userCharacters">
        {{character.name}}
    </div>
    <button class="button" color="primary" mat-raised-button routerLink="/character-sheet">Character Sheet</button>
    <button mat-raised-button color="warn" class="button" (click)="auth.signOut()">Logout</button>
</div>
