<div 
    *ngIf="auth.user$ | async as user"
    div fxLayout="column" 
    fxLayoutAlign="start center"
    fxFill>

    <mat-label class="title">The Book of Names Character Dashboard</mat-label>
    
    <span 
    *ngFor="let character of this.userCharacters"
    fxLayout="row" fxLayoutAlign="center center">
        <mat-card class="card">
            <mat-card-title>
                {{character.name}}
            </mat-card-title>
            <mat-card-content>
                <img [src]="this.character.imageLink"/>
            </mat-card-content>
            <mat-card-actions>
                <button class="button" color="primary" mat-button (click)="goToCharacterSheet(character)">Character Sheet</button>
                <button class="button" color="warn" mat-button (click)="deleteCharacter(character)">Delete</button>
            </mat-card-actions>
        </mat-card>
    </span>
    <button mat-icon-button (click)="makeNewCharacter()">
        <mat-icon>add</mat-icon>
    </button>

    <button mat-raised-button color="warn" class="button" (click)="auth.signOut()">Logout</button>
</div>
