.button {
  font-size: 1.3rem;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.title {
  font-size: 2.5rem;
  padding: 50px;
  white-space: nowrap;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  max-width: 400px;
  max-height: 400px;
}
